*,html,body{
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif; 
}

.fContainer {
    display: flex;
    justify-self:center;
    width: 100%;
    height: 20vh;
    background-color: rgb(46, 60, 71);
} 

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: rgb(10, 9, 9);
}
.brand{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;

}

.firstname{
    color: rgb(180, 6, 6);
    font-weight: 70;
}
.lastname
{
    color: rgb(25, 5, 155);
    width: 20px;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li{
    list-style-type: none;
    padding: 15px;
}
.navigation> li > a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover{
    color: blue;
    transition: all ease-in-out;
}
button{
    --glow-color: #ff0000;
    background: black;
    color: white;
    width: 80%;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}
.body{
    background-image: url(https://cdn.pixabay.com/photo/2022/03/31/23/15/pixel-7103806_1280.png);
    background-size: 1500px;
}
button:hover{
    color: aqua;
    transition: 0.9s;
        transform: scale(1.1);
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color), 0 0 40px var(--glow-color);
}