*,html,body{
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif; 
}

.fContainer {
    display: flex;
    justify-self:center;
    width: 100%;
    height: 20vh;
    background-color: rgb(46, 60, 71);
} 

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: rgb(13, 13, 13);
}
.brand{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;

}

.firstname{
    color: rgb(180, 6, 6);
    font-weight: 70;
}
.lastname
{
    color: rgb(25, 5, 155);
    width: 20px;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation>li{
    list-style-type: none;
    padding: 15px;
}
.navigation> li > a{
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation>li>a:hover{
    color: blue;
    transition: all ease-in-out;
}
BODY {
    background-color: rgb(3, 84, 116);
}
.GC {
    background-color: rgb(102, 128, 119);
}
.INF {
    background-color: rgb(6, 6, 6);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
    text-decoration: underline;
    transition: all ease-in-out;

}