.dua {
    background-image: url("https://www.astronauts.id/blog/wp-content/uploads/2022/08/Makanan-Khas-Daerah-tiap-Provinsi-di-Indonesia-Serta-Daerah-Asalnya-1024x683.jpg");
    background-size: cover;
}
.satu {
    background-color: rgb(165, 2, 130);
}
h3 {
    color: white;
}
button:hover {
    background-color: rgb(235, 233, 235);
    color: rgb(167, 4, 4);
    border-radius: 5px;
    padding: 10px;
}
/* HERO SECTION */
.dua {
    background-image: url("https://www.astronauts.id/blog/wp-content/uploads/2022/08/Makanan-Khas-Daerah-tiap-Provinsi-di-Indonesia-Serta-Daerah-Asalnya-1024x683.jpg");
    background-size: cover;
    background-position: center;
}


/* NAVBAR */
.satu {
    background-color: rgb(165, 2, 130);
}

h3 {
    color: white;
}


/* BUTTON HOVER */
button:hover {
    background-color: rgb(243, 239, 243);
    color: rgb(167, 4, 4);
    border-radius: 5px;
    padding: 10px;
}



/* ================= SERVICE SECTION ================= */

/* Background ungu */
.main-color {
    background-color: purple;
}


/* Icon bulat */
.icon-service {
    width: 90px;
    height: 90px;

    border: 2px solid rgb(7, 7, 7);
    border-radius: 50%;

    color: rgb(241, 19, 19);
}


/* Hover card */
.hovered-card {
    padding: 20px;
    border-radius: 10px;

    transition: all 1 ease;
}


/* Efek hover */
.hovered-card:hover {
    background-color: rgba(116, 114, 118, 0.15);
    transform: translateX(18px) translateY(-18px);
}


/* Text service */
.hovered-card h5 {
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1.2;
}

.hovered-card p {
    font-size: 14px;
}
